[alias]
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -sb
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	p = pull
	pr = !"git pull && git rebase"
	ci = commit
	ca = !git add -A && git commit -av

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	
	# List aliases
	aliases = config --get-regexp alias

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[user]
	email = rdeaton@platipy.org
	name = Robert Deaton
[push]
	default = matching
